img{
    width: 300px;
}
.img-ed1 {
    border-radius: 40px;
}

.img-ed2 {
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.img-ed3 {
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 150px;
}
.name{
    display: block;
    margin-bottom: 25px;
}
.email{
    display: block;
}
.para{
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}