.cont {
    display: flex;
}
.item1 {
    background-color: lightblue;
    width: 100px;
}
.item2 {
    background-color: lightcoral;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
}
.rows-div {
    display: flex;
    justify-content: space-between;
}