* {
    font-family: Arial, Helvetica, sans-serif;
}
button {
    margin-left: 100px;
    border: none;
    padding: 10px 16px 10px 16px;
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}
img {
    border-radius: 35px;
    cursor: pointer;
}
p {
    font-size: 15px;
    width: 50px;
    margin: 3px 0px 0px 15px;
    color: gray;
}
h1 {
    font-size: 15px;
    margin: 5px 0px 0px 15px;  
    cursor: pointer;
}
.flexbox {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    margin-bottom: 5px;
}


.container {
    display: flex;
    flex-direction: column;
}




